.total {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5rem;
  align-items: center;
  gap: 1.5rem;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: bold;
  background: #f8f3f8;
  color: #ac40c7;
  border-radius: 3px;
  padding: 0.3rem;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
